In [1]:
import pandas as pd
from functions import conecta_ao_db

In [2]:
db = conecta_ao_db('dados_sokker.db')
curs = db.cursor()

# Criando tabelas

### Treinadores

In [3]:
query = """CREATE TABLE IF NOT EXISTS trainers (

ID INTEGER, date_extracted TEXT NOT NULL, name TEXT NOT NULL, surname TEXT NOT NULL, 

countryID INTEGER NOT NULL, age INTEGER NOT NULL, teamID INTEGER NOT NULL, wage INTEGER NOT NULL, 

signedContract INTEGER NOT NULL, job INTEGER NOT NULL, skillStamina INTEGER NOT NULL, 

skillPace INTEGER NOT NULL, skillTechnique INTEGER NOT NULL, skillPassing INTEGER NOT NULL, 

skillKeeper INTEGER NOT NULL, skillDefending INTEGER NOT NULL, 

skillPlaymaking INTEGER NOT NULL, skillScoring INTEGER NOT NULL, skillCoach INTEGER NOT NULL 

);"""

# Cria tabela
curs.execute(query)

# Salva mudanças feitas na base de dados
db.commit()

### Jogadores

In [4]:
query = """CREATE TABLE IF NOT EXISTS players (

ID INTEGER, date_extracted TEXT NOT NULL, name TEXT NOT NULL, surname TEXT NOT NULL, 

countryID INTEGER NOT NULL, age INTEGER NOT NULL, teamID INTEGER NOT NULL, wage FLOAT NOT NULL, 

height FLOAT NOT NULL, weight FLOAT NOT NULL, BMI FLOAT NOT NULL, youthTeamID INTEGER NOT NULL,

value FLOAT NOT NULL, cards INTEGER NOT NULL, goals INTEGER NOT NULL, assists INTEGER NOT NULL, 

matches INTEGER NOT NULL, ntCards INTEGER NOT NULL, ntGoals INTEGER NOT NULL, ntAssists INTEGER NOT NULL, 

ntMatches INTEGER NOT NULL, injuryDays INTEGER NOT NULL, national INTEGER NOT NULL,  

'transferList' INTEGER NOT NULL, skillForm INTEGER NOT NULL, skillExperience INTEGER NOT NULL, 

skillStamina INTEGER, skillTeamwork INTEGER NOT NULL, skillDiscipline INTEGER NOT NULL, 

skillPace INTEGER, skillTechnique INTEGER, skillPassing INTEGER, 

skillKeeper INTEGER, skillDefending INTEGER, skillPlaymaking INTEGER, skillScoring INTEGER

);"""

curs.execute(query)

### Transferências

In [5]:
query = """CREATE TABLE IF NOT EXISTS transfers (

ID INTEGER, sellerTeamID INTEGER NOT NULL, buyerTeamID INTEGER NOT NULL, 

sellerTeamName TEXT NOT NULL, buyerTeamName	 TEXT NOT NULL, 

playerID INTEGER NOT NULL, date TEXT NOT NULL, 

price INTEGER NOT NULL, playerValue INTEGER NOT NULL

);"""

curs.execute(query)

### Partidas

In [6]:
query = """CREATE TABLE IF NOT EXISTS matches (

matchID INTEGER, homeTeamID INTEGER NOT NULL, awayTeamID INTEGER NOT NULL,

leagueID INTEGER NOT NULL, round INTEGER NOT NULL, season INTEGER NOT NULL, 

week INTEGER NOT NULL, day INTEGER NOT NULL, dateExpected TEXT, dateStarted TEXT, 

homeTeamScore INTEGER, awayTeamScore INTEGER, supporters INTEGER NOT NULL, 

weather INTEGER NOT NULL, isFinished INTEGER NOT NULL

);"""

curs.execute(query)

### Estatísticas das Partidas

In [7]:
query = """CREATE TABLE IF NOT EXISTS matchStats (

matchID INTEGER, teamID INTEGER NOT NULL, timeOnHalf INTEGER NOT NULL, 

timePossession INTEGER NOT NULL, offsides INTEGER NOT NULL, shoots INTEGER NOT NULL, 

fouls INTEGER NOT NULL, yellowCards INTEGER NOT NULL, redCards INTEGER NOT NULL, tacticName TEXT NOT NULL, 

ratingScoring INTEGER NOT NULL, ratingPassing INTEGER NOT NULL, ratingDefending INTEGER NOT NULL

);"""

curs.execute(query)

### Times

In [8]:
query = """CREATE TABLE IF NOT EXISTS teams (

teamID INTEGER, name TEXT NOT NULL, countryID INTEGER NOT NULL, 

regionID INTEGER NOT NULL, dateCreated TEXT NOT NULL, rank FLOAT NOT NULL, 

national INTEGER NOT NULL, arenaName TEXT NOT NULL,

money INTEGER, trainingType INTEGER, trainingFormation INTEGER, 

fanclubCount INTEGER, fanclubMood INTEGER, juniorsMax INTEGER, date_extracted TEXT NOT NULL

);"""

curs.execute(query)

### Ligas

In [9]:
query = """CREATE TABLE IF NOT EXISTS league (

leagueID INTEGER, name TEXT NOT NULL,  countryID INTEGER NOT NULL, 

 season INTEGER NOT NULL, type INTEGER NOT NULL, 

isOfficial INTEGER NOT NULL, isCup INTEGER NOT NULL, division INTEGER NOT NULL

);"""

curs.execute(query)

### Estatísticas liga

In [10]:
query = """CREATE TABLE IF NOT EXISTS leagueStats (

leagueID INTEGER, teamID INTEGER NOT NULL, 

round INTEGER NOT NULL, points INTEGER NOT NULL, wins INTEGER NOT NULL, 

draws INTEGER NOT NULL, losses INTEGER NOT NULL, goalsScored INTEGER NOT NULL, 

goalsLost INTEGER NOT NULL, rankTotal INTEGER NOT NULL
 
);"""

curs.execute(query)

In [11]:
res = curs.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
for name in res:
    print (name[0])

trainers
players
transfers
matches
matchStats
teams
league
leagueStats

In [12]:
# Salvando alterações
db.commit()

# Fechando conexão com a base de dados
db.close()