### *Podemos rodar às segundas-feiras já que as partidas da liga são jogadas aos domingos*

In [1]:
import pandas as pd
from functions import clube_id_e_sessao, pega_dados, conecta_ao_db

In [2]:
sessao, club_id= clube_id_e_sessao()

Login: fabin99
Password: ········
Clube ID: 79085

### Informações gerais dos jogos

In [3]:
# Conecta ao banco de dados
db= conecta_ao_db('dados_sokker.db')
curs= db.cursor()

#Pega informações únicas das partidas já adicionadas para que não sejam inseridos valores duplicados na base
matches = pd.read_sql_query("SELECT * FROM matches", db)

ids= matches['matchID'].unique()
data_esperada= matches['dateExpected'].unique()
data_iniciada= matches['dateStarted'].unique()

In [4]:
# Id do clube a serem pegas as informações
id_clube= club_id

# Pegando informações das partidas retirando aquelas que já foram pegas
url= f'https://sokker.org/xml/matches-team-{club_id}.xml'
df_matches= pega_dados(url, sessao, search= 'match')

#Retirando valores nulos (partidas ainda não jogadas) e duplicados (partidas já adicionadas na base)
df_matches.dropna(inplace= True)

query= 'matchID not in @ids and dateExpected not in @data_esperada and dateStarted not in @data_iniciada'

# Retirando colunas que não salvaremos as informações
df_matches.drop(columns= ['homeTeamName', 'awayTeamName'], 
                inplace= True)

#df_matches= pd.concat([matches, df_matches])

df_matches= df_matches.query(query)
df_matches

,matchID,homeTeamID,awayTeamID,leagueID,round,season,week,day,dateExpected,dateStarted,homeTeamScore,awayTeamScore,supporters,weather,isFinished
21,38974989,142663,79085,2076,6,56,979,4,2022-04-13 21:59,2022-04-13 22:00,0,7,3023,3,1
22,39119634,40607,79085,200,0,0,979,6,2022-04-15 23:29,2022-04-15 23:29,0,1,3275,5,1
23,38974999,79085,142636,2076,7,56,980,1,2022-04-17 21:59,2022-04-17 22:00,12,0,2748,3,1
24,39123908,77037,79085,51530,0,0,980,2,2022-04-18 19:00,2022-04-18 19:00,5,0,3735,2,1
25,39124145,89208,79085,51530,0,0,980,3,2022-04-19 22:00,2022-04-19 22:00,0,2,1673,3,1
26,38975009,47955,79085,2076,8,56,980,4,2022-04-20 21:59,2022-04-20 22:00,0,10,3009,2,1

In [5]:
if len(df_matches) > 0:
    
    # Adiciona dados à tabela
    df_matches.to_sql('matches', con=db, if_exists='append', index= False)

In [6]:
df_matches = pd.read_sql_query("SELECT * FROM matches", db)
len(df_matches)

153

### Estatísticas dos jogos

In [7]:
#Pega informações únicas das estatísticas já adicionadas para que não sejam inseridos valores duplicados na base
stats = pd.read_sql_query("SELECT * FROM matchStats", db)

ids= stats['matchID'].unique()
team= stats['teamID'].unique()
terco_defensivo= stats['timeOnHalf'].unique()
posse_de_bola= stats['timePossession'].unique()

In [8]:
#lista que guardará as estatísticas de cada partida
list_stats= list()

# Pegando estatísticas

for ID in df_matches['matchID'].unique():
    
    url= f'https://sokker.org/xml/match-{ID}.xml'
    df= pega_dados(url, sessao, search= 'teamStats')
    df['matchID']= ID
    list_stats.append(df)
    


df_stats= pd.concat([stats for stats in list_stats])

# Retirando valores nulos (partidas ainda não jogadas) e duplicados (partidas já adicionadas na base)

df_stats.dropna(inplace= True)

query= 'matchID not in @ids and teamID not in @team and timeOnHalf not in @terco_defensivo and timePossession not in @posse_de_bola'

df_stats= df_stats.query(query)

df_stats

,teamID,timeOnHalf,timePossession,offsides,shoots,fouls,yellowCards,redCards,tacticName,ratingScoring,ratingPassing,ratingDefending,matchID
0,142663,55714,26002,0,1,1,0,0,Normal,4,3,3,38974989
1,79085,14255,43967,0,30,1,0,0,5-2-3d,8,7,5,38974989
0,40607,41127,38589,0,4,2,1,0,DYF-541,7,8,7,39119634
1,79085,28879,31417,0,16,0,0,0,5-4-1a,8,6,7,39119634
0,79085,19595,40705,0,26,0,0,0,5-2-3f,8,7,6,38974999
1,142636,50705,29595,1,1,2,0,0,Titular,4,3,4,38974999
0,77037,17629,35224,0,17,2,2,0,System,8,8,9,39123908
1,79085,52448,34853,2,0,3,2,0,5-4-1a,6,7,8,39123908
0,89208,50090,27722,1,2,2,0,0,gtt4,6,7,5,39124145
1,79085,19870,42238,1,20,0,0,0,5-2-3d,7,7,7,39124145
0,47955,55372,29008,1,0,1,0,0,433,6,4,4,38975009
1,79085,14604,40968,0,36,0,0,0,5-4-1a,9,7,6,38975009

In [9]:
# Adicionando informações se houver alguma nova
if len(df_stats) > 0:
    
    # Adiciona dados à tabela
    df_stats.to_sql('matchStats', con=db, if_exists='append', index= False)

In [10]:
# Conferindo
stats = pd.read_sql_query("SELECT * FROM matchStats", db)
len(stats)

306

### Estatísticas da Liga

In [11]:
#Pega informações ligas já adicionadas para que não sejam inseridos valores duplicados na base
league_stats = pd.read_sql_query("SELECT * FROM leagueStats", db)

ids= league_stats['leagueID'].unique()
team= league_stats['teamID'].unique()
rodada=  league_stats['round'].unique()

In [12]:
#Pegar o id da liga desejada entrando na liga na página do sokker
league_id= 2076

url= f'https://sokker.org/xml/league-{league_id}.xml'
df_league_stats= pega_dados(url, sessao, search= 'teams', tree_top= True)

In [13]:
df_league_stats['leagueID']= league_id
df_league_stats

,teamID,round,points,wins,draws,losses,goalsScored,goalsLost,rankTotal,leagueID
0,89046,8,24,8,0,0,82,1,24581082008012,2076
1,79085,8,21,7,0,1,48,4,21544048007011,2076
2,122540,8,18,6,0,2,39,13,18526039006009,2076
3,79853,8,16,5,1,2,26,11,16515026005006,2076
4,120765,8,13,4,1,3,14,16,13498014004010,2076
5,123911,8,12,4,0,4,30,18,12512030004007,2076
6,142636,8,10,3,1,4,11,32,10479011003004,2076
7,78473,8,10,3,1,4,6,36,10470006003008,2076
8,47955,8,7,2,1,5,6,31,7475006002005,2076
9,142663,8,6,2,0,6,3,56,6447003002003,2076
10,142717,8,2,0,2,6,3,28,2475003000001,2076
11,142690,8,1,0,1,7,2,24,1478002000002,2076

In [14]:
# Adicionando informações 
if len(df_league_stats) > 0:
    
    # Adiciona dados à tabela
    df_league_stats.to_sql('leagueStats', con=db, if_exists='append', index= False)

league_stats = pd.read_sql_query("SELECT * FROM leagueStats", db)
len(league_stats)

### Liga informação geral

In [15]:
#Pega informações das ligas já adicionadas para que não sejam inseridos valores duplicados na base
leagues = pd.read_sql_query("SELECT * FROM league", db)

ids= leagues['leagueID'].unique()
league_name= leagues['name'].unique()

In [16]:
#Pegando dados da liga
df_league= pega_dados(url, sessao, search= 'info')

#Retirando coluna que não será utilizada
df_league.drop(columns= ['userID', 'round'], inplace= True)

#Retirando valores duplicados (se as estatísticas já tiverem sido adicionadas na base)
query= 'leagueID not in @ids and name not in @league_name'
df_league= df_league.query(query)

df_league

Empty DataFrame
Columns: [leagueID, name, countryID, division, season, type, isOfficial, isCup]
Index: []

In [17]:
# Adicionando informações se for uma liga ainda não adicionada
if len(df_league) > 0:
    
    # Adiciona dados à tabela
    df_league.to_sql('league', con=db, if_exists='append', index= False)

In [18]:
league = pd.read_sql_query("SELECT * FROM league", db)
len(league)

2

In [19]:
# Salvando alterações
db.commit()

# Fechando conexão com a base de dados
db.close()